[submodule "components/squashfs/lib/libsquash"]
	path = components/squashfs/lib/libsquash
	url = https://github.com/pmq20/libsquash
[submodule "components/squashfs/lib/zlib"]
	path = components/squashfs/lib/zlib
	url = https://github.com/madler/zlib
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/squashfs/lib/lz4"]
	path = components/squashfs/lib/lz4
	url = https://github.com/lz4/lz4
